

.orderpageadmin-controls-container{
  display: flex;
  margin: auto;
  max-width: 80vw;
  margin-top: 30px;
}

.orderpageadmin-controls-container .orderpage-filters{
  display: flex;
  align-items: center;
  height: 45px;
  background-color: var(--PRIMARY);
  border-radius: 5px;
  padding: 2px;
}
.orderpageadmin-controls-container .orderpage-filters p{
  width: 100px;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.orderpageadmin-controls-container .orderpage-filters p:hover{
  background-color: var(--SECONDARY);
  border-radius: 5px;
}
.orderpageadmin-controls-container .orderpage-filters p.active{
  background-color: var(--SECONDARY);
  border-radius: 5px;
}

.orderadmin-table{
  margin: auto;
  max-width: 80vw;
  margin-top: 10px;
}


.orderadmin-table .orderadmin-th{
   height: 60px;
   height: 70px;
   font-weight: 500;
   width: 170px;
   color: white;
   background-color: var(--PRIMARY);
}
.orderadmin-table .orderadmin-td{
  font-size: 14px;
}
.orderadmin-table .orderadmin-td:nth-child(1) .orderadmin-tdcontainer{
  display: flex;
  align-items: center;
  gap: 20px;
}
.orderadmin-table .orderadmin-td:first-child p{
  color: black;
}
.orderadmin-table .orderadmin-td:first-child img{
   height: 50px;
   width: 50px;
   border-radius: 10px;
}

.orderadmin-table .orderadmin-td:nth-child(5) p{
  text-align: center;
  border: 2px solid #dac9ba;
  background-color: #fff2e6;
  max-width: 100px;
  color: #fbb77c;
  border-radius: 10px;
  margin: auto;
}


.orderadmin-table .orderadmin-td:last-child .orderad-actioncontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.orderadmin-table .orderadmin-td:last-child .orderad-actioncontainer img {
   width: 20px;
   height: 20px;
   cursor: pointer;
}